<% @page_title = application_name + " Review Submissions" %>
<h2 class="heading2">Review dashboard</h2>


<div class="row">
	<% unless @result_list %>
		<%= render 'no_items_found' %>
	<% end %>
</div>

<% if @result_list %>

	<div class="row">
		<%= paginate @result_list, theme: 'blacklight' %>

		<div class="col col1of6">
			<aside class="filters">
				<ul id="facets">
				<% @facets.each do |k, v| %>
					<%= render partial: 'show_facet', locals: {facet: SolrFacets.reverse_lookup(k), constraints: v} %>
				<% end %>

				</ul>
				<%= render 'show_filters' %>

			</aside>
		</div>

		<div class="col col5of6">


			<h3 class="heading3"><%= @number_items_found %> Items retrieved</h3>
			<table>
				<% @result_list.each do |solr_doc| %>
				<% item = DashboardItem.new(solr_doc) %>
				<tr>
					<article class="review-article">
						<%= render partial: 'article_content', locals: {item: item} %>
						<%= render partial: 'dashboard_item_buttons', locals: 
							{id: item.id, add_claim_button: !item.is_it_claimed?} %>
					</article>
				</tr>
				<% end %>
			</table>

		</div>
	</div>
<% end %>